<footer class="container-fluid bg-dark text-white mt-auto">
    <div class="row align-middle">
        <div class="col-md-4 col-12 text-center ">
            <p class="pt-3">&copy;2024 Johan Rosero</p>
        </div>
        <div class="col-md-4 col-12 text-center">
            <p class="pt-3">Universidad Nacional de Jujuy</p>
        </div>
        <div class="col-md-4 col-12 text-center ">
            <p class="pt-3">Analista Programador
                Universitario</p>
        </div>
    </div>
</footer>