<div class="container-fluid fondo">
    <div class="container">
        <div class="row p-5 pb-2">
            <div class="col ">
                <div class="container">
                    <div class="card text-center" id="palabras">
                        <div class="card-body">
                            <h5 class="card-title fs-3"> HOME DE LA PRESENTACION DEL  TRABAJO PRACTICO DE ANGULAR</h5>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="row p-5">
            <div class="card text-center">
                <div class="card-header">
                    Presentacion TP-5 Angular
                </div>
                <div class="card-body">
                    <h5 class="card-title">Aplicar conceptos de Binding, routing , componentes de Angular</h5>
                    <p class="card-text">Rosero Johan , APU5221</p>
                    <p class="card-text">Punto 1 , Agregar Productos</p>
                    <p class="card-text">Punto 2 , Juego dePalabras</p>
                    <p class="card-text">Punto 3 , Tickets Teatro</p>
                    <p class="card-text">Ver Menu para acceder a las Actividades</p>
                </div>
                <div class="card-footer text-body-secondary">
                    Facultad de Ingenieria UNJU.
                </div>
            </div>
        </div>






    </div>

</div>